/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: var(--maximum-yellow-red);
        right: 0;
        width: 105%;
        height: 84%;
        text-align: center;
        padding: 16px;
        margin-top: 1rem;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 4rem;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        margin-left: 12rem;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .nav-btn button {
        display: block;

    }

    .nav-btn {
        position: absolute;
        right: 3rem;
        gap: 1rem;
    }

    .nav-btn button {
        background-color: var(--black_10);
        color: var(--white);
        border-radius: var(--radius-24);
        padding: 0.5rem;
        border: 1px solid;
    }

    .header-two {
        display: grid;
    }

    .header-two img {
        width: 100%;
    }

    .first-text {
        padding: 1rem;
        margin-top: 1rem;
    }

    .first-text h2 {
        font-size: 2rem;
    }

    .first-text p {
        font-size: var(--fs-7);
        margin-top: 1rem;
        line-height: 2rem;
    }

    .trend {
        margin-top: 3rem;
    }

    .trend-tab {
        padding: 0px;
    }

    .trend-tab .tab-btn.active {
        background-color: var(--blue-crayola);
    }

    .trend-tab .tab-content {
        display: grid;
        gap: 100px;
        width: 13rem;
    }

    .trend-card {
        padding: 1rem;
        border-radius: var(--radius-12);
        transition: var(--transition-1);
        margin-left: -2rem;
    }

    .trend-tab .tab-nav {
        width: 20rem;
        margin-left: -4rem;
        padding: 1rem;

    }

    .trend-card:is(:hover, .active) {
        background-color: var(--gunmetal_50);
        box-shadow: var(--shadow-3);
    }

    .trend-card .card-title-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .trend-card .card-title {
        color: var(--white);
        font-size: 1rem;

    }

    .trend-card .card-value {
        color: var(--white);
        font-size: 1.3rem;
        font-weight: var(--fw-700);
        margin-block: 10px;
    }
}